*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: white;
    box-shadow: 7px 13px 40px rgb(226, 225, 225);
    position: sticky;
    top: 0;
}

.logo{
    height: 100%;
    background-color: white;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav{
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    /* background-image: linear-gradient(to left, red, blue); */
    
}

.menu-principal{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.menu-principal li a{
    display: block;
    padding: 7px 20px;
    color: #070A52;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}
.submenu{
    position: absolute;
    display: none;
    background: transparent;
    list-style: none;
    width: 113px;
}
.submenu li a{
    color: rgb(202, 201, 201);
    font-family: 'Righteous';
    padding: 10px 3px 10px 5px;
    font-size: 15px;
}

.menu-principal li:hover .submenu{
    display: block;
    background-color: #242955;
    
}
.menu-principal li a:hover{
    border-bottom: 1px solid #070A52;
    border-radius: 5px;
    transition: .2s;
}

.submenu li:hover{
    border-radius: 60px;
}

.submenu li a:hover{
    border: 1px solid white;
    text-align: center;
    color: white;
}

.redes{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.redes a{
    padding: 5px 5px 0px 5px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
}
.redes a img{
    width: 25px;
    height: 25px;
    animation: anim 2s infinite;
}
.redes a:hover{
    transform: scale(1.2);
}

/* EMPEZAR A APLICAR ESTILOS DESDE AQUÃ-----------------------*/
.caja{
    display: flex;
    margin: 40px 0px;
    flex-wrap: wrap;
    font-family: 'capriola';
    overflow: hidden;
}
.caja .textoContacto{
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-left: 4%;
}

.formcontact{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 370px;
    margin-left: 20px;
    border: 1px solid #1d218b;
    border-radius: 7px;
    padding: 15px;
    background-color: transparent;
    box-shadow: 7px 13px 30px rgb(223, 221, 221);
}

.formcontact input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(208, 210, 211);
    border-radius: 7px;
    /* background-color: transparent; */
}

.formcontact input:hover{
    border-style: dotted;
    border-color:blue rgb(248, 93, 119);
    
}
.formcontact p{
    margin-bottom: 5px;
}
.caja .formcontact .descontact{
    width: 70%;
    padding: 15px;
    border-radius: 0;
    margin-top: 10px;
}
.formcontact .button{
    width: 20%;
    cursor: pointer;
}
.formcontact .button:hover{
    background-color: #d6d4d4;
    border-style: none;
}

.caja .textoContacto h1{
    color: #1d218b;
    margin-bottom: 10px;
}
.caja .textoContacto .textocon{
    width: 85%;
}

.textoContacto .textocon p{
    color: #272626;
}

.textoContacto .icontacto{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.textoContacto .icontacto .iconos{
    display: flex;
    margin-top: 23px;
}
.textoContacto .icontacto .iconos p{
    margin-left: 10px;
    font-family: 'roboto';
    font-size: 17px;
}
.icontacto2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    display: none;
}
.icontacto2 .iconos{
    display: flex;
    margin-top: 23px;
}
.icontacto2 .iconos p{
    margin-left: 10px;
    font-family: 'roboto';
    font-size: 17px;
}
.line{
    margin: auto;
    width: 10%;
    height: 5px;
    margin-bottom: 50px;
    margin-top: 60px;
    border-radius: 5px;
    background-color: #070A52;
}
/* FESTILOS PARA EL FOOTER */

footer{
    height: 300px;
    background-color: #070A52;
    color: white;
    font-family: 'Handlee', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .items2foter{
    width: 66%;
    height: 70px;
    display: flex;
    justify-content: space-around; 
    background-color: rgb(247, 247, 252);
    color: #070A52;
    margin-top: 25px;
    border-radius: 50px;
    
}
footer .items2foter .email{
    padding: 5px;
    width: 250px;
    margin-left: 10px;
    border: none;
    border: 1px solid #ccc9c9;
    border-radius: 5px;
    background-color: transparent;
}
footer .items2foter .boton{
    margin-left: 10px;
    padding: 5px;
    border: none;
    border: 1px solid #ccc9c9;
    border-radius: 5px;
    cursor: pointer;
}
footer .items2foter .boton:hover{
    background-color: #cecbcb;
}

footer> ul> li{
    margin: 20px;
    list-style: none;
    margin-left: 30px;
}

footer> ul{
    padding-top: 10px;
    display: flex;
}
footer> ul> li> a{
    text-decoration: none;
    font-family: 'Righteous', cursive;
    color: #7e7c7d;
}
footer> ul> li> a:hover{
    color: rgb(226, 218, 218);
}

footer .newslatter{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #070A52;
    flex-direction: column;

}
.copy p{
    font-family: 'Handlee',;
    color: #aaa8a9;
    
}
.copy hr{
    width: 10%;
    margin-top: 8px;
}

/*REDES FOOTER*/
.redesfoter{
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-direction: column;
}
.redesfoter p{
    font-family: 'capriola';
    color: #aaa8a9;
}

.redesfoter .iconpieredes{
    display: flex;
    width: 90px;
    height: 45px;
    align-items: center;
    justify-content: center;
}
.redesfoter .iconpieredes a{
    padding: 5px 5px 0px 5px;
    margin: 5px;
}

.redesfoter .iconpieredes a img{
    width: 25px;
    height: 25px;
    animation: anim 2s infinite;
    border-radius: 5px;
}
.redesfoter a:hover{
   transform: scale(1.2);
    
}

/* --------------------------------- */
@media screen and (max-width:768px){
    
    .header{
        display: flex;
        flex-direction: column;
        height: 140px;
        align-items: center;
        justify-content: space-around;
        box-shadow: 7px 13px 40px rgb(226, 225, 225);
    }
    .logo{
        height: 50%;
        background-color: white;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
    nav{
        display: flex;
        margin: auto;
        background-color: transparent;
    }
    .menu-principal{
        display: flex;
        justify-content: space-around;
        list-style: none;
        
    }
    .menu-principal li a{
        display: block;
        padding: 7px 20px;
        color: #070A52;
        text-decoration: none;
        font-family: 'Righteous', cursive;
    }
    .submenu{
        position: absolute;
        display: none;
        background: transparent;
        list-style: none;
        width: 113px;
    }
    .submenu li a{
        font-family: 'Righteous';
        padding: 10px 3px 10px 5px;
        font-size: 15px;
        color: rgb(212, 210, 210);
    }
    
    .menu-principal li:hover .submenu{
        display: block;
        background-color: #2a2474;
    }
    .menu-principal li a:hover{
        border-radius: 5px;
        transition: .2s;
    }
    
    .submenu li:hover{
        border-radius: 60px;
        
    }
    .submenu li a:hover{
        border: 1px solid #070A52;
        text-align: center;
    }
    .redes img:hover{
        width: 20px;
        height: 20px;
    }

    /* -------------------------------- */

    .caja{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'capriola';
        overflow: hidden;
    }
    .caja .textoContacto{
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-left: 0%;
    }
    .formcontact{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 7px;
        padding: 15px;
        box-shadow: 7px 13px 30px rgb(223, 221, 221);
    }
    .textoContacto .respons{
        display: none;
    }
    .textoContacto .icontacto{
        display: none;
    }
    .icontacto2{
        display: block;
        width: 80%;
        margin: 30px 0px;
    }

    /* ------------------------------------ */
    footer .items2foter{
        width: 80%;
        height: auto;
        background-color: rgb(247, 247, 252);
        color: #070A52;
        margin-top: 25px;
        border-radius: 0px;
        border-radius: 20px;
    }
    footer .newslatter{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        
    }
    footer .items2foter input{
        margin-top: 15px;
    }
    footer .items2foter .email{
        margin-right: 10px;
    }
    .copy p{
        margin-top: 10px;
    }
}    